@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700;900&display=swap");
/* font-family: 'Shadows Into Light', cursive; */
/* font-family: 'Noto Sans TC', sans-serif; */
:root {
  --font-shadow: "Shadows Into Light", cursive;
  --font-verdana: Verdana, Geneva, Tahoma, sans-serif;
  --font-noto: "Noto Sans TC", sans-serif;
  --font-color: whitesmoke;
  --main-bg-color: #22577a;
  --second-bg-color: #38a3a5;
  --third-bg-color: #57cc99;
  --forth-bg-color: #80ed99;
  --fifth-bg-color: #c7f9cc;
}
input:focus,
textarea:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: darkblue;
}
body,
a {
  font-family: var(--font-noto), var(--font-verdana);
}
h3 {
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: 10px;
  text-align: center;
  font-size: 2rem;
}
/*header*/
/*#region*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-bg-color);
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
}
.logo > a {
  display: block;
  font-family: var(--font-shadow);
  color: var(--font-color);
  padding-left: 20px;
  font-size: 2rem;
  cursor: pointer;
}
.header > ul {
  display: flex;
}
.header > ul li > a {
  display: block;
  color: whitesmoke;
  width: 100px;
  line-height: 60px;
  text-align: center;
  transition: all 0.3s ease;
}
.header > ul li > a:hover {
  background: #4ea3dc;
  font-weight: bold;
  transform: scale(1.1);
  cursor: pointer;
}
/*#endregion*/

.container {
  width: 80%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
section {
  width: 100%;
  height: 100vh;
  padding: 50px;
}

/*section#Banner*/
/*#region*/
#Banner {
  background: var(--second-bg-color);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#Banner > p {
  font-size: 3rem;
  letter-spacing: 5px;
  width: 50%;
  position: absolute;
  z-index: 1;
}

#Banner > p > strong {
  font-weight: bold;
}
#Banner > p > strong:nth-child(1) {
  background: -webkit-linear-gradient(
    102.2deg,
    rgb(250, 45, 66) 9.6%,
    rgb(245, 104, 104) 96.1%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#Banner > p > strong:nth-child(2) {
  background: -webkit-linear-gradient(
    102deg,
    rgb(5, 117, 230),
    rgb(2, 27, 121)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-react,
.fa-vuejs {
  font-size: 400px;
  position: absolute;
}
.fa-react {
  top: 50px;
  left: 100px;
  animation: react 20s infinite ease;
}
.fa-vuejs {
  bottom: 50px;
  right: 123px;
  animation: vuejs 15s infinite ease;
}
@keyframes react {
  0% {
  }
  50% {
    top: 356px;
    left: 878px;
  }
  75% {
    top: 500px;
    right: -200px;
  }
  100% {
    top: 50px;
    left: 100px;
  }
}
@keyframes vuejs {
  0% {
    bottom: 50px;
    right: 123px;
  }

  30% {
    bottom: 150px;
    right: 1203px;
  }
  75% {
    bottom: 300px;
    right: 123px;
  }
  100% {
    bottom: 50px;
    right: 123px;
  }
}

/*#endregion*/

/*section#About*/
/*#region*/
#About {
  background: var(--third-bg-color);
}
.main-pic,
.description {
  width: 48%;
}
.main-pic {
  background-image: url(/imgs/people1.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  box-shadow: -10px 10px 5px black;
  transform: skewX(2deg);
  border-radius: 5px;
}

.profile > h3,
.education > h3,
.skills > h3 {
  margin-bottom: 50px;
  text-shadow: 5px 5px 5px white;
  text-align: left;
}
.profile > p {
  font-size: 20px;
}
.education {
  margin-bottom: 15px;
}
.skill-list > li {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill-name {
  font-size: 20px;
}
.skill-bar {
  width: 200px;
  background: grey;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1 1 5px black, -1 -1 5px black;
}
[class^="skill-level"] {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: #fff;
}
.skill-level-html5 {
  width: 90%;
  background: linear-gradient(to right, #f89e59, #ff4500);
  animation: level-html5 2s infinite 5s;
  transition: all 1s ease;
}
.skill-level-css3 {
  width: 80%;
  background: linear-gradient(to right, #ff1ee5, #c075f5);
  animation: level-css3 2s infinite 5s;
  transition: all 1s ease;
}
.skill-level-javascript {
  width: 80%;
  background: linear-gradient(to right, #ffd700, #ffa500);
  animation: level-javascript 2s infinite 5s;
  transition: all 1s ease;
}
.skill-level-react {
  width: 70%;
  background: linear-gradient(to right, #3b228b, #00bfff);
  animation: level-react 2s infinite 5s;
  transition: all 1s ease;
}
@keyframes level-html5 {
  0% {
    width: 0%;
    color: transparent;
  }
  100% {
    color: #fff;
    width: 90%;
  }
}
@keyframes level-css3 {
  0% {
    width: 0%;
    color: transparent;
  }
  100% {
    color: #fff;
    width: 80%;
  }
}
@keyframes level-javascript {
  0% {
    width: 0%;
    color: transparent;
  }
  100% {
    color: #fff;
    width: 80%;
  }
}
@keyframes level-react {
  0% {
    width: 0%;
    color: transparent;
  }
  100% {
    color: #fff;
    width: 70%;
  }
}
/*#endregion*/

/*section#Experience*/
/*#region*/
#Experience {
  background: var(--forth-bg-color);
}
.experience-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-list > li {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}
.experience-list > li:hover {
  transform: scale(1.1);
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

.experience-list > li div {
  font-family: var(--font-verdana);
  font-weight: bold;
}
.period {
  width: 150px;
  margin-right: 30px;
}
.company-logo {
  width: 50px;
  margin-right: 30px;
  transition: all 0.3s ease;
}
.experience-list > li:hover .company-logo {
  transform: rotate(360deg);
}
.company-logo > img {
  border-radius: 50%;
  width: 100%;
}
.job-title {
  width: 300px;
}
/*#endregion*/

/*section#Portfolio*/
/* 這邊重點在於要翻轉的物件身上要掛absolute 把z軸拉至同一面
  backface-visibility: hidden;
  可以讓翻牌後方的物件為隱藏的狀態
*/
/*#region*/
#Portfolio {
  background: var(--fifth-bg-color);
}
/* section#Portfolio {
  height: 600px;
} */
#Portfolio > .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  padding: 100px 50px;
  transform-style: preserve-3d;
}
#Portfolio > .container > .item {
  /* background-color: coral; */
  /* height: 200px; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}

#Portfolio > .container > .item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
}
#Portfolio > .container > .item:nth-child(2) {
  grid-area: 1 / 3 / 3 / 5;
}
#Portfolio > .container > .item:nth-child(8) {
  grid-area: 3 / 2 / 4 / 4;
}
#Portfolio > .container > .item > img,
#Portfolio > .container > .item > .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 1s ease;
}
#Portfolio > .container > .item > img {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
}
#Portfolio > .container > .item > .back {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: red;
  transform: rotateY(180deg);
}
#Portfolio > .container > .item:hover img {
  transform: rotateY(180deg);
}
#Portfolio > .container > .item:hover .back {
  transform: rotateY(0deg);
}

/*#endregion*/

/*section#Contact*/
/*#Contact*/
#Contact {
  background: var(--second-bg-color);
}
.contact-info,
#Contact form {
  width: 50%;
  /* border: 1px solid;  */
}
.contact-info {
  color: var(--font-color);
  padding-top: 20%;
}
.contact-info > h3 {
  text-align: left;
  margin-bottom: 50px;
}
.contact-info > p,
.contact-address,
.contact-phone,
.contact-email {
  margin-bottom: 20px;
}
.contact-info i {
  margin: 0 5px;
}
#Contact form,
.form-group {
  display: flex;
  flex-direction: column;
}
#Contact form {
  padding: 5%;
  background: #fff;
  border-radius: 15px;
}
.form-group {
  padding: 10px;
  gap: 20px;
}
.form-group input,
.form-group textarea {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background: #f5f5f5;
}
.form-group .btn-submit {
  border: none;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to right, rgb(75, 74, 74), rgb(140, 135, 135));
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-noto);
}
.form-group .btn-submit:hover {
  background: linear-gradient(
    to right top,
    rgb(75, 74, 74),
    rgb(140, 135, 135)
  );
  transform: scale(1.1);
}
/*#endregion*/

/*footer*/
/*#region*/
footer {
  width: 100%;
  background-color: var(--main-bg-color);
}

footer > p {
  font-size: 1.1rem;
  color: var(--font-color);
  text-align: center;
  line-height: 100px;
}
/*#endregion*/
